#data-learn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .data-learn-container {
    text-align: center;
    max-width: 1200px;
  }
  
  .data-learn-title {
    font-size: 2.5rem;
    color: rgb(17, 2, 53);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    position: relative;
  }
  .data-learn-title::after{
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #FF9900; 
    margin: 10px auto 20px;
    border-radius: 2px;
  }
  
  .data-learn-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    padding: 10px;
}

.data-learn-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

  .data-learn-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .data-icon {
    font-size: 40px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out; 
  }
  
  .data-icon:hover {
    transform: rotate(180deg); 
  }
  
  .d-h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .d-p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  
  .d-p1 {
    font-size: 14px;
    color: #777;
    margin-top: 8px;
  }
  
  .d-p1 strong {
    color: #2c3e50;
  }
  

  .data-learn-card::before, 
  .data-learn-card::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #4E9FBC;
    transform: rotate(90deg);
  }
  
 
  .data-learn-card::before {
    top: -15px;
    left: -15px;
  }
  

  .data-learn-card::after {
    top: -15px;
    right: -15px;
    transform: rotate(90deg);
  }
  

  .data-learn-card::before {
    bottom: -15px;
    left: -15px;
    transform: rotate(45deg);
  }
  
  .data-learn-card::after {
    bottom: -15px;
    right: -15px;
    transform: rotate(-45deg);
  }
  
  @media (max-width: 768px) {
    .data-learn-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 500px) {
    .data-learn-grid {
      grid-template-columns: 1fr;
    }
  
    .data-learn-title {
      font-size: 30px;
    }
  }
  